.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    margin: 40px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-container input,
  .form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-container button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .form-container button:hover {
    background-color: #218838;
  }
  
  .form-container p {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
  }
  .btn-excluir {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 6px 12px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-excluir:hover {
  background-color: #c9302c;
}

  
  