.navbar {
  background-color: #1d8bf2;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.logout-btn {
  background: transparent;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.logout-btn:hover {
  text-decoration: underline;
}

.homepage-container {
  text-align: center;
  margin-top: 60px;
}
